* {
    margin: 0;
    padding: 0;
}

header,
footer {
    width: 100%;
    height: 120px;
    background-color: hsl(206, 49%, 53%);
    color: hsl(0, 0%, 90%);
}

h1,
h2 {
    text-align: center;
}

img {
    display: block;
    height:75px;
    width: 75px;
    margin-left: auto;
    margin-right: auto;
}

ul {
    padding-left: 40px;
    font-size: 20px;
}

p {
    text-align: center;
    font-size: 30px;
}

.card {
    width: 80%;
    margin: 40px auto;
    border: 5px solid hsl(206, 49%, 53%);
    box-shadow: 10px 10px 10px hsl(0, 0%, 40%); 
  }